html{
    background-image: url(https://img.rawpixel.com/private/static/images/website/2022-05/rm359-437-felix-14-pom-02_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=bebcd195e31296c75fa22711dc15660e);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 100%;
    max-width: 700px;
    display: table;
    margin: 10% auto 0;
}

.container > .header {
    background: #ffffff url(./Assets/background.png) center center no-repeat;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.container > .header > .layer {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
    background-color: rgb(0 0 0 / 59%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.container > .body {
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container > .body .events{
    padding: 0;
    display: table;
    width: 100%;
    list-style-type: none;
    margin: 0;
}

.container > .body .events li{
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.container > .body .events li > .event {
    width: 100%;
}

.container > .body .events li > .time,
.container > .body .events li > .action{
    text-align: right;
    width: 20%;
}

.action {
    color: red;
    font-weight: bolder;
    cursor: pointer;
}

.container > .body > .addEvent {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.container > .body > .addEvent form {
    width: 100%;
    display: flex;
}
.container > .body > .addEvent input[type="text"] {
    display: block;
    font-size: 17px;
    padding: 5px;
    color: #000;
}
.eventName{
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #ddd;
}
.eventTime{
    width: 30%;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
}
.container > .body > .addEvent .eventButton {
    width: 25%;
    border-left: none;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #dddddd;
    cursor: pointer;
}

input[type="text"], button { 
    outline: none;
}